@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>We bring you the most convinient way to pay for your parking space.
    We allow payments in a form of qr code scan, that will enable you to pay and get payment confirmation at the comfort of your car, without having to queue</p>
