@{
    ViewBag.Title = "Contact Us";
}
<h2>Contact Us</h2>
<address>
    25 Scott Street<br />
    Waverly<br />
    <abbr title="Phone">Call: </abbr>
    +27 7262 351 19
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@wepark.com">Support@wepark.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@wepark.com">Marketing@wepark.com</a>
</address>