@{
    ViewBag.Title = "Home Page";
    Layout=
}

<div class="jumbotron">
    <h1>WE PARK!!</h1>
    <p class="lead">Welcome to The We Park Site</p>
</div>
    <img src="ppp.jpg" alt="ppp">
<div class="row">
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>
           This platform allows you to pay
            for your parking without any inconvinience and in the
            most efficient way!!
        </p>
     